.root {
    -fx-background-color: #F0F2F5; /* Cor de fundo levemente mais clara */
    -fx-font-family: 'Arial', sans-serif; /* Fonte moderna e legível */
}

#threadNode{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-border-color: #DDD; /* Borda sutil para separação */
    -fx-border-width: 1; /* Largura da borda */
    -fx-padding: 5;
}

#topPane {
    -fx-background-color: #333333;
}

#followRecommendation {
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-border-color: #DDD;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 0, 0.0, 0.0, 2.0);
    -fx-padding: 10;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}

#recommendationBox {
    -fx-background-color: #FFFFFF;
    -fx-padding: 15;
    -fx-border-color: #DDD;
    -fx-border-width: 1;
}

#topPane{
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

#followButton {
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.0, 0.0, 2.0);
    -fx-font-size: 14;
    -fx-background-color: #007BFF;
    -fx-text-fill: white;
    -fx-padding: 10 10;
    -fx-cursor: hand;
    -fx-transition: background-color 0.3s ease;
}

#followButton:hover {
    -fx-background-color: #0056b3; /* Cor mais escura no hover */
}

#titleLabel{
    -fx-font-size: 24;
    -fx-font-weight: bold;
}
#textLabel{
    -fx-font-size: 14;
}
