.root {
    -fx-background-color: #F0F2F5;
    -fx-font-family: "JetBrainsMono Nerd Font";
    -fx-set-font-size: 16;
}

#Sidebar{
    -fx-background-color: white;
}
.button{
    -fx-border-color: transparent;
    -fx-border-radius: 0;
}
#feedButton{
    -fx-background-color: #F6F6F6;
}
#profileButton{
    -fx-background-color: white;
}
#threadButton{
    -fx-background-color: #F6F6F6;
}

#feedButton:hover {
    -fx-background-color: #d5d5d5;
    -fx-text-fill: white;
}
#profileButton:hover {
    -fx-background-color: #e6e6e6;
    -fx-text-fill: white;
}
#threadButton:hover {
    -fx-background-color: #d5d5d5;
    -fx-text-fill: white;
}