.root {
    -fx-background-color: #F0F2F5;
    -fx-font-family: "JetBrainsMono Nerd Font";
    -fx-set-font-size: 16;
}

#Sidebar{
    -fx-background-color: white;
}
#feedButton{
    -fx-background-radius: 0;
    -fx-background-color: #F6F6F6;
    -fx-text-fill: #333333;
}
#profileButton{
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-text-fill: #333333;
}
#threadButton{
    -fx-background-radius: 0;
    -fx-background-color: #F6F6F6;
    -fx-text-fill: #333333;
}
#logoutButton{
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-text-fill: #333333;
}

#feedButton:hover {
    -fx-background-color: #d5d5d5;
    -fx-text-fill: white;
}
#profileButton:hover {
    -fx-background-color: #e6e6e6;
    -fx-text-fill: white;
}
#threadButton:hover {
    -fx-background-color: #d5d5d5;
    -fx-text-fill: white;
}
#logoutButton:hover {
    -fx-background-color: #d5d5d5;
    -fx-text-fill: white;
}