.root{
    -fx-background-color: #F0F2F5;
}

#topBox{
    -fx-background-color: black;
}
#submitButton{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: black;
    -fx-font-size: 18;
}
#draftButton{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: black;
    -fx-font-size: 18;
}


