.root {
    -fx-background-color: #F0F2F5;
    -fx-font-family: "JetBrainsMono Nerd Font";
    -fx-set-font-size: 16;
}

#topPane{
    -fx-background-color: #333333;
}
#submitButton{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: black;
    -fx-font-size: 18;
}
#draftButton{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: black;
    -fx-font-size: 18;
}


